<?xml version="1.0" encoding="UTF-8"?>
<web-app
    version="4.0"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  <servlet-name>updateServlet</servlet-name>
  <servlet-class>ServletController.updateServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>updateServlet</servlet-name>
    <url-pattern>/requestUpload</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  <servlet-name>addProductServlet</servlet-name>
  <servlet-class>ServletController.addProductServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>addProductServlet</servlet-name>
     <url-pattern>/ProductRegister</url-pattern>
  </servlet-mapping>
  
  
   
  <servlet>
  <servlet-name>ViewAllProductServlet</servlet-name>
  <servlet-class>ServletController.ViewAllProductServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>ViewAllProductServlet</servlet-name>
     <url-pattern>/getAllProduct</url-pattern>
  </servlet-mapping>
  
  
  
  
  
</web-app>

